.myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
body {
    margin: 0;
    background-image: url('https://cdn.discordapp.com/attachments/1187759355622326356/1192605670734835833/lkj.png?ex=65a9af95&is=65973a95&hm=ca9ae2385e17a468b89b6691e14e6e2deb70b4f6301cae5869ae80503cac1a75&');
    background-repeat: no-repeat;
    background-size: cover;
}
  .text {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 10px;
}
  .realtext {
    margin: 10px;
}
  .login_input {
    position: fixed;
    right: 0;
    top: 0;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
  .real_login_input {
    margin: 5px;
}
  .inputtable {
    outline: none;
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: center;
}

.button_1 {
    position: absolute;
    top: 43%;
    left: 41%;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 5rem;
    width: 15vw;
    height: 10vh;
    color: white;

}
